:root {
	--color-primary: #882CE7 !important;
	--color-link: #882CE7 !important;
    --color-hover: rgba(136, 44, 231, 0.15) !important;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #B06FF3 !important;
		--color-link: #B06FF3 !important;
		--color-hover: rgba(176, 111, 243, 0.15) !important;
	}
}